$azulMaptriz = #0e6fa5
$azulClaroMaptriz = #0f95a3
$verdeMaptriz = #5abc73
$verdeClaroMaptriz = #b6d337
$palletBlue = #293651
$palletWhite = #E8E6E7
$palletBrow = #7C4D3C
$palletBlue2 = #343950
$primary = #81A0C0
$blue = #40A4C4

h1, .as-h1, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5.secondary, .as-h5-secondary, h5, .as-h5, h6, .as-h6
  line-height 1.2
  font-family 'Ubuntu', sans-serif
  font-weight 400
  font-style normal
  display block

h1, .as-h1, h2, .as-h2
  font-size 2.5rem
  color #4f4d4c
  font-family 'Ubuntu', sans-serif
  font-weight 500
  font-style normal
  letter-spacing .02em

h1, h2, h3, h4, h5, h6, p, blockquote, table, ul, address, dl
  margin 0

a
  color: inherit
  -webkit-transition color .2s ease-in
  transition color .2s ease-in
  text-decoration none
  cursor pointer
  -webkit-tap-highlight-color transparent
  
a:hover
  text-decoration none

img
  max-width 100%
  height auto
  vertical-align middle
  border-style:none

button, a
  border-radius 0 !important
  box-shadow none !important
  webkit-transition background .2s ease-in,-webkit-box-shadow .2s ease-in
  transition background .2s ease-in,-webkit-box-shadow .2s ease-in
  transition background .2s ease-in,box-shadow .2s ease-in
  transition background .2s ease-in,box-shadow .2s ease-in,-webkit-box-shadow .2s ease-in

a.btn-primary, button.btn-primary
  background-color $verdeMaptriz
  border-color $verdeMaptriz
  -webkit-animation fadeOutDown .6s ease-out
  animation fadeOutDown .6s ease-out
  font-family 'Ubuntu', sans-serif
  font-weight 500
  height 40px
  padding 10px 40px
  line-height 20px

a.btn-primary:hover, a.btn-primary:active, a.btn-primary:focus, button.btn-primary:hover, button.btn-primary: active, button.btn-primary:focus
  background-color $verdeMaptriz !important
  border-color $verdeMaptriz !important
  -webkit-box-shadow 0 4px 20px rgba(0,0,0,0.3) !important
  box-shadow 0 4px 20px rgba(0,0,0,0.3) !important
  z-index 10

#submit
  background $palletBlue
  color #FFFFFF !important
  text-transform uppercase
  border 0 !important
  cursor pointer

#submit:hover
  opacity 0.9 !important

.shadow-bg
  -webkit-transition all 0.3s
  -moz-transition all 0.3s
  -ms-transition all 0.3s
  -o-transition all 0.3s
  transition all 0.3s
  -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)
  -moz-box-shadow 0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)
  box-shadow 0 1px 6px rgba(0, 0, 0, 0.10), 0px 1px 6px rgba(0, 0, 0, 0.20)

.text-center
  text-align center

input, select, textarea
  background #FFFFFF !important

@keyframes fadeInOutNormal
  0%
    opacity 1

  45%
    opacity 0

  55%
    opacity 0

  100%
    opacity 0

@keyframes fadeInOutReverse
  0%
    opacity 0

  45%
    opacity 0

  55%
    opacity 1

  100%
    opacity 1

@-webkit-keyframes fade
  0%
    opacity 0

  100%
    opacity 1

@keyframes shake
  10%, 90%
    transform translate3d(-1px, 0, 0)

  20%, 80%
    transform translate3d(2px, 0, 0)

  30%, 50%, 70%
    transform translate3d(-4px, 0, 0)

  40%, 60%
    transform translate3d(4px, 0, 0)

@-moz-keyframes spin
  from
    -moz-transform rotate(0deg)
  to
    -moz-transform rotate(360deg)
@-webkit-keyframes spin
  from
    -webkit-transform rotate(0deg)
  to
    -webkit-transform rotate(360deg)
@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

@keyframes cf3FadeInOut
  0%
    opacity 1
  45%
    opacity 1
  55%
    opacity 0
  100%
  opacity 0

.m-b-0
  margin-bottom 0

.float-right
  float right

body
  font-family 'Ubuntu', sans-serif
  font-weight 400
  font-style normal
  -webkit-font-smoothing antialiased
  font-size 1rem
  line-height 1.6
  position relative
  overflow-x hidden
  overflow-y scroll
  opacity 1 !important
  visibility visible !important
  background-color #fff
  margin 0

  header.site-header
    position fixed
    top 0
    left 0
    right 0
    z-index 999
    background-color $palletBlue
    -webkit-transition border .1s ease-in-out,background .1s ease-in-out,-webkit-box-shadow .2s ease-in-out
    transition border .1s ease-in-out,background .1s ease-in-out,-webkit-box-shadow .2s ease-in-out
    transition box-shadow .2s ease-in-out,border .1s ease-in-out,background .1s ease-in-out
    transition box-shadow .2s ease-in-out,border .1s ease-in-out,background .1s ease-in-out,-webkit-box-shadow .2s ease-in-out

    .logo-h1
      display block
      float left
      margin-right 20px

      .logo-img
        width 140px
        display block
        padding 15px 15px 15px 30px
        margin 0

    .main-nav
      zoom 1
      margin 0 auto
      background none
      box-shadow none

      ul
        list-style none
        margin 0
        padding 0
        text-align center

        li
          float left
          width 12%
          -webkit-transition all .2s ease-in
          transition all .2s ease-in
          line-height initial

          a
            display block
            padding 25px 0
            color #FFFFFF
            font-family 'Ubuntu', sans-serif
            font-weight 500
            font-style normal
            letter-spacing .03em
            text-transform uppercase
            position relative
            font-size .9rem

          a:hover, a:visited, a:active
            background-color #5abc73
            color #FFF !important

          a.active
            background-color #5abc73
            color #FFF !important

  #home
    width 100%
    height 100vh
    background $palletBlue
    clear both
    padding-top 66px

    .left-item
      .horizontal-aligned
        position relative
        top  65px

        img
          width 316px

        p
          color #FFFFFF
          font-size 42px
          font-weight 400
          margin-top 20px
          margin-bottom 40px

          span
            display block
            font-weight 300
            font-size 16px
            margin-top 20px

            span.tags
              display initial
              -webkit-transition all 0.2s ease-in
              transition all 0.2s ease-in

            .hovered
              background $verdeMaptriz
              color #fff

    .right-item
      .dashed
        border-radius 50%
        border 1px dashed rgba(255, 255, 255, .2)
        width 85%
        float right
        display block
        position relative
        top 105px

        .globo
          -webkit-animation spin 40s linear infinite
          -moz-animation spin 40s linear infinite
          animation spin 40s linear infinite
          padding 40px

      .produtos
        position relative

        .produto
          position absolute

          .produto-icone
            border-radius 50%
            width 86px
            height 86px
            padding 10px
            background $palletBlue
            border 1px dashed rgba(255, 255, 255, .2)
            position relative

            .icone
              position absolute
              -webkit-transition opacity 1s ease-in-out
              -moz-transition opacity 1s ease-in-out
              -o-transition opacity 1s ease-in-out
              transition opacity 1s ease-in-out

        #otimizacao
          top 70px
          right 90px

          .engrenagem-1
            height 35px
            left 12.5px
            top 15px
            -webkit-animation: spin 10s infinite linear;

          .engrenagem-2
            height 25px
            left 50px
            top 30px
            -webkit-animation: spin 10s infinite reverse;

          .engrenagem-3
            height 20px
            top 52.5px
            left 32.5px
            -webkit-animation: spin 10s infinite linear;

        #ideias
          top 240px
          left 22px

          .ideia, .ideia-1
            height 60px
            left 11.5px
            top 10px

          .ideia-1
            animation-name cf3FadeInOut
            animation-timing-function ease-in-out
            animation-iteration-count infinite
            animation-duration 20s
            animation-direction alternate

        #sustentavel
          top 444px
          left 208px

          .folha
            height 50px
            top 20px
            left 16px

        #tecnologia
          top 300px
          right -40px

          .wifi
            height 50px
            top 15px
            left 16px

        .produto:hover
          cursor pointer

  #sobre-nos
    width 100%
    height 100vh
    padding 96px 0 0 0

    .container
      width 90%

      .subhead
        font-size 1.5em
        text-align center
        display block
        position relative
        text-transform uppercase
        font-weight 300

      h4
        margin 0
        text-align center
        font-weight 300
        color #999
        margin-bottom 50px
        letter-spacing 4px

      .subhead:before, span.subhead:after
        content ""
        width 30px
        height 6px
        border-top 1px solid $palletBlue
        display inline-block
        margin 0 10px

      .quem-somos
        max-width 1200px
        margin 20px auto
        line-height 1.5em
        font-size 1em
        padding 10px
        font-weight 300
        text-align center

        span
          font-weight 500
          display initial
          letter-spacing 1px
          color $palletBlue

      .icone
        border 2px solid $palletBlue
        border-radius 50%
        width 100px
        margin 0 auto
        display block

        img
          height 90px
          padding 20px
          display block
          margin 0 auto

      span
        display block
        text-transform uppercase
        letter-spacing 3px
        margin-top 20px
        text-align center

      .apoio
        margin 0 auto
        text-transform uppercase
        color #999
        font-size 14px
        text-align center
        font-weight 300
        letter-spacing 31x

      .nosso-time
        margin-top 40px

        img
          width 150px
          display block
          margin 0 auto
          border-radius 50%

        .nome
          margin 10px 0 0 0
          font-size 18px
          font-weight 500
          padding 0

        .funcao
          display block
          text-align center
          color #fff
          font-size 14px
          font-weight 300

    #conheca-nossos-clientes
      margin 0 auto
      display table
      background $palletBlue
      border-color $palletBlue

    #conheca-nossos-clientes:hover
      background-color $palletBlue !important
      border-color $palletBlue !important

  #solucoes
    width 100%
    height 100vh
    padding 66px 0

    h3
      text-align center
      margin 30px 0 10px 0
      text-transform uppercase
      color $palletBlue

    .col
      padding 0 20px

      .box-solucoes
        padding 20px
        background $palletBlue

        img
          height 70px
          display block
          margin 0 auto
          margin-bottom 20px

        .title
          display block
          margin 0 auto
          text-align center
          color #FFF
          font-weight 500
          margin-bottom 20px

        a
          background $azulClaroMaptriz
          padding 5px 10px
          color #FFFFFF
          margin 0 auto
          display block
          font-size 14px
          text-align center

    .modal
      width 70%
      border-radius 0
      box-shadow none
      max-height 85%
      height 85%

      h4
        font-weight 300
        font-size 20px
        padding-bottom 10px
        border-bottom 1px solid $palletBlue
        color $palletBlue
        letter-spacing 2px

      p
        text-align justify
        font-size 14px
        font-weight 300
        color #555

        span
          font-weight 500
          color $palletBlue

      ul
        li
          list-style-type circle
          font-weight 300
          font-size 14px
          margin-bottom 5px

      .icone-solucao
        margin 0 auto
        display block
        width 130px
        border-radius 50%
        background $palletBlue

        img
          padding 30px

      .modal-close
        background $palletBlue
        color #FFFFFF

  #noticias
    width 100%
    height 100vh
    padding 66px 0

    .container
      width 80%

      h3
        text-align center
        margin 30px 0 10px 0
        text-transform uppercase
        color $palletBlue

      .noticia
        .data
          display block
          text-align center
          height 67px
          border 1px solid #999
          margin-top 5px

          .dia
            display block
            font-size 34px
            color $verdeClaroMaptriz
            font-weight 300
            margin-top -4px

          .mes
            display block
            font-weight 300
            font-size 20px
            margin-top -20px
            text-transform uppercase
            color #999
            letter-spacing -1px

        .titulo
          font-weight 500
          color #555
          font-size 16px

        .resumo
          font-weight 300
          font-size 14px
          text-align justify

      .btn-noticias
        display block
        background-color $verdeClaroMaptriz

      .btn-noticias: hover
        opacity 0.2

  #clientes
    width 100%
    height 100vh
    padding 66px 0

    h3
      text-align center
      margin 30px 0 20px 0
      text-transform uppercase
      color $palletBlue

    .sub
      text-align center
      font-size 16px
      font-weight 300

    .carousel
      height 350px !important

      .indicators
        .indicator-item
          background #CCCCCC

        .indicator-item.active
          background $palletBlue

      .carousel-item
        background #F9F9F9
        padding 40px 40px

        h4
          text-align center
          font-size 26px
          font-weight 300
          letter-spacing 2px

        span
          display block
          font-weight 300
          text-align justify
          margin-top 20px
          font-size 14px

        .autor
          text-align right
          font-size 14px
          font-weight 300

        .btn
          display block
          margin 0 auto


  #contato
    width 100%
    height 110vh
    padding 66px 0
    background $verdeMaptriz

    h3
      margin 30px 0 0 0
      text-transform uppercase
      color #FFFFFF
      font-size 22px
      font-weight 300
      letter-spacing 1x

      span
        font-weight 600

    .box
      background #FFFFFF
      padding 20px

      h4
        text-transform uppercase
        font-size 22px
        font-weight 600
        margin-bottom 20px

      p
        font-weight 300
        font-size 14px

        i
          position relative
          top 8px
          margin-right 10px
          color $verdeMaptriz

      .location
        font-size 120px
        color $verdeMaptriz
        position relative
        top 10px

    img
      height 192px
      display block
      margin 0 auto
      width 100%

    .social
      margin-top 10px
      float right

      a
        i
          font-size 16px
          background $palletBlue
          padding 8px
          color #FFFFFF
.noticia
  .voltar
    display block
    padding 25px 50px
    color #fff
    font-family 'Ubuntu', sans-serif
    font-weight 500
    font-style normal
    letter-spacing 0.03em
    text-transform uppercase
    position relative
    font-size 0.9rem

    i
      position absolute
      left 16px
      top 22px

  #noticia
    padding 100px 0 0 0

    img
      width 100%
      display block
      margin 0 auto
      height 300px

    h1
      font-weight 300
      letter-spacing 3px
      font-size 26px
      text-transform uppercase
      margin-top 10px
      border-top 1px solid #ccc
      padding-top 20px

    p
      text-align justify
      font-weight 300

.home.blog, .home.page:not(.page-template-template-homepage), .home.post-type-archive-product
  .site-header
    margin-bottom 4.235801032em

@media (min-width: 768px)
  .site-header
    padding-bottom 0

@media (max-width: 1599px)
  .logo-img
    width 140px